*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;

}

@media (min-width:1400px) {
  .container
  {
    max-width: 1400px;
  }
  
}


.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.menu-list{
  
}